body {
    background-color: lavender;
    display: flex;
    justify-content: auto;
}

.name {
    font-weight: bold;
    font-size: 2em;
    color: navy;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.district-info {
    font-family: Arial, Helvetica, sans-serif;
}

.political-affiliation {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    color: red;
    border: 3px dashed red;
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.pageHeader {
    text-align: center;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.shop {
    display: flex;
    border: 1px dotted black;
    flex-basis: 28%;
    margin: 0em 1em;
}

